# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate

# Xcode build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM/

# Swift Package Manager
.build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
